@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
}

:root{
    --fnt-title: 700 2rem/1rem "Inika", serif;
    --fnt-subtitle: 500 1.5rem/1rem "Montserrat", sans-serif;
    --fnt-text: 300 1rem/1rem "Lato", sans-serif;
    --clr-links: #A020F0;
    --clr-text: #C3C3C3;
    --clr-title: #fafafa;
    --clr-bg: #267290;
    --clr-links: #0058A8;
    --clr-shadow: 15px 15px 15px #000;
    --clr-bg-opacity: rgba(0, 0, 0, .75);

    --bg-btn-github: #A020F0;
    --bg-btn-github--hover: #a64adf;
    --bg-btn-linkedin: #0000FF;
    --bg-btn-linkedin--hover: #2f2ff7;

    --bg-section: #000080;
}

h1,h2 {
    font: var(--fnt-title);
    padding: .75rem 0;
    color: var(--clr-title) !important;
}

h3,h4,h5,h6{
    font: var(--fnt-subtitle);
}

p, pre{
    padding: .75rem 0;
    color: var(--clr-text) !important;
    font: var(--fnt-text);
}

pre{
    background: var(--clr-bg-opacity);
    border-radius: .75rem;
    text-align: start;
}

body {
    background: url("../assets/images/bg/bg-tech.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header,
footer {
    width: 100%;
    color: var(--clr-text);
    padding: 1rem 0;

    background-color: var(--clr-bg);
}

footer .center {
    width: 25vw;
    margin: 0 auto;
}

footer .center p {
    position: relative;
    padding: 0;
}

footer .center p .entity {
    font-size: .65rem;
    position: absolute;
    top: -.15rem;
}

.main {
    width: 80vw;
    margin: auto;
    min-height: 75vh;
    box-shadow: var(--clr-shadow);
    background: var(--clr-bg-opacity);
    padding: 1rem;
    border-radius: .5rem;
    margin: 2rem 0;
}

article {
    margin: 2rem;
}

.nav-link{
    color: var(--clr-text) !important;
}

.btn_link_redes{
    width: 10rem;
    padding: 0 .75rem;
    border-radius: .5rem;
    color: #C3C3C3;
}

.btn_link_github{
    background: var(--bg-btn-github);
}

.btn_link_linkedin{
    background: var(--bg-btn-linkedin);
}

.btn_link_github:hover{
    background: var(--bg-btn-github--hover);
}

.btn_link_linkedin:hover{
    background: var(--bg-btn-linkedin--hover);
}

.nav-link:hover{
    color: var(--clr-title) !important;
}

.active{
    color: var(--clr-links) !important;
}

.active:hover{
    color: var(--clr-title) !important;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.banner{
    background: var(--bg-section) !important;
}

.links{
    text-decoration: none;
    color: var(--clr-links);
    margin: 1rem 0;
}

.nav-link:hover{
    color: var(--clr-bg);
}

.list li a{
    transition: .3s;
}

.list li a:hover{
    box-shadow: 5px 5px 5px #000;
    color: #A3A3A3 !important;
    padding: .25rem;
    border-radius: .75rem;
}

.navbar-brand img{
    width: 48px;
    height: 48px;
}

.results{
    color: var(--clr-links);
    font-size: 15pt;
}

.code{
    background: var(--clr-bg-opacity);
    color: var(--clr-text);
    padding: .25rem .75rem;
    border-radius: .5rem;
}

.habitos, .tarefas{
    color: var(--clr-text);
}
