@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
}

:root{
    --fnt-title: 900 2rem/1rem "Inika", serif !important;
    --fnt-subtitle: 500 1.5rem/1rem "Montserrat", sans-serif !important;
    --fnt-text: 300 1rem/1rem "Lato", sans-serif !important;
    --clr-links-secondary: #A020F0 !important;
    /* --clr-text: #1b1a1a !important;
    --clr-title: #0a0a0a !important; */
    --clr-bg: #fafafa !important;
    --clr-links: #0058A8 !important;
    --clr-shadow: 15px 15px 15px #000 !important;
    --clr-bg-opacity: rgba(0, 0, 0, .65) !important;

    --bg-btn-github: #A020F0 !important;
    --bg-btn-github--hover: #a64adf !important;
    --bg-btn-linkedin: #0000FF !important;
    --bg-btn-linkedin--hover: #2f2ff7 !important;

    --bg-section: #000080;
}


h1,h2 {
    font: var(--fnt-title);
}

h3,h4,h5,h6{
    font: var(--fnt-subtitle);
}

p, pre{
    font: var(--fnt-text);
}

pre{
    background: var(--clr-bg-opacity);
    border-radius: .75rem;
    text-align: start;
}

.btn_link{
    padding: .75rem 4.5rem;
    background-color: #000;
    text-decoration: none;
    color: #C3C3C3;
}

.btn_link:hover{
    background-color: #0a0a0a;
}

.btn_link_redes{
    width: 10rem;
    padding: 0 .75rem;
    border-radius: .5rem;
    color: #C3C3C3;
}

.banner{
    background: #000080 !important;
}


.navbar-brand img{
    width: 48px;
    height: 48px;
}

.img-card-about{
    width: 6em;
    height: 6em;
}

.about-img{
    width: 17em;
    height: 25em;
}

@media screen and (max-width: 668px) {
    html {
    font-size: .75rem;
    }
    .about-img{
        width: 10em;
        height: 8em;
    }
    .img-card-about{
        width: 6em;
        height: 6em;
    }
}
